= render 'shared/team_nav'
.container.team-container
  .row
    .col-sm-12
      .center
        %h1
          The Team
  .row
    .col-sm-3
      .center
        = image_tag "#{asset_path "ariel-headshot.jpg"}", class: "img-circle"
        %p.name Ariel Koren - Founder and Co-Director 
      %p 
        Ariel Koren founded ACTION as a senior in high school. Passionate about teaching and sharing her love for language education, she speaks Spanish, Mandarin Chinese, French, Portuguese, Hebrew, and English. She is from Jacksonville, FL and studies East Asian Languages and Civilizations at Penn. Ariel is a certified Zumba instructor, loves to rap in Chinese, and enjoys 
        %a{:href => "http://www.youtube.com/watch?v=9wTbgtkH4nI"} translating American popcultures songs. 
      .col-sm-3
      .center
        = image_tag "#{asset_path "ariel-headshot.jpg"}", class: "img-circle"
        %p.name Anthony Janocko - Co-Director 
      %p 
        Anthony is a Senior from Ponte Vedra Beach, Florida studying computer science with a minor in mathematics at the University of Pennsylvania.  Anthony serves as one of ACTION’s Co-Directors and has been a part of the organization since the beginning.  Anthony studied abroad in Budapest, Hungary during the Fall 2014 semester and, in addition to Spanish, he knows a little Hungarian (one of the most complex languages in the world!).  Around campus, Anthony is a member of Penn Club Swimming and he is interested in technology, education, traveling and literature. 

    .col-sm-3
      .center
        = image_tag "#{asset_path "paolo-headshot.jpg"}", class: "img-circle"
        %p.name Paola Gamarra - Co-Director 
      %p 
       Paola is a junior at the University of Pennsylvania studying finance originally from Lima, Peru. She has been the Co-Director of ACTION since January 2014, and cannot imagine Penn without it. Teaching her own native language and culture is the most rewarding way for Paola to serve her community. Aside from her commitment to ACTION, Paola is a member of Wharton Ambassadors and Penn International Impact Consulting. Her hobbies include freelance writing for Penn's arts and culture magazine, and styling for the fashion magazine on campus.
  .row
    .col-sm-3
      .center
        = image_tag "#{asset_path "stasha-headshot.png"}", class: "img-circle"
        %p.name Stasha Sosnowicz - Curriculum Design Director 
      %p Stasha Sosnowicz has been surrounded by the Spanish language since she was little and wants to give other children the same gift of language.  She hopes to study Spanish in University and travel in Spain for awhile.  
    .col-sm-3
      .center
        = image_tag "#{asset_path "ben-headshot.jpg"}", class: "img-circle"
        %p.name Benjamin Yahalomi - Marketing Director
      %p Ben is a junior studying marketing and management at Wharton. Even though he's from the East Coast he has spent multiple summers in San Francisco working at start ups. He also loves travelling, having spent time in foreign places such as Morroco.   
    .col-sm-3
      .center
        = image_tag "#{asset_path "tony-headshot.jpg"}", class: "img-circle"
        %p.name Pia Kochar - Web Master 
      %p Pia is the Web Developer and a teacher for ACTION. She is a Junior at the University of Pennsylvania in the School of Engineering majoring in Computer Science and minoring in Gender Studies. She joined ACTION because she loves Spanish and working with children. When she's not teaching with ACTION she is a teaching assistant for a computer science class at Penn, and loves to read and be outdoors.

    .col-sm-3              
      .center
        = image_tag "#{asset_path "austin-headshot.jpg"}", class: "img-circle"
        %p.name Austin Tedesco - External Director   
      %p Austin Tedesco is a Junior from Coral Springs, Florida concentrating in Statistics and Operations and Information Management and minoring in Hispanic Studies at the University of Pennsylvania. Austin serves as ACTION's External Director and studied abroad in Madrid, Spain in the Fall 2015 semester. When on campus, Austin participates in Penn Club Lacrosse, Wharton Ambassadors, and the Wharton Customer Analytics Initiative.

  .row      
    .col-sm-3
      .center
        = image_tag "#{asset_path "ariela-headshot.jpg"}", class: "img-circle"
        %p.name Michael Coyne - Internal Director
      %p Michael Coyne is a Junior from Monroe, Connecticut studying sociology and political science at the University of Pennsylvania.  Mike serves as ACTION's Internal Director and is passionate about cultural diversity, social justice issues, nonprofit work, and supporting our volunteers.  Around campus he is involved in undergraduate research, Rotaract Philadelphia, and The Punchbowl.  
    .col-sm-3
      .center
        = image_tag "#{asset_path "micaela-headshot.jpg"}", class: "img-circle"
        %p.name - Rachel Philbin  - Finance Director 
      %p Rachel is the Finance Director of ACTION and a senior at the University of Pennsylvania. She is responsible for acquiring sponsorships and donations as well as organizing fundraisers for ACTION. Rachel is double majoring in Economics and Political Science with a minor in Spanish. During the Fall 2014 semester, Rachel studied abroad in Sevilla, Spain and became a fluent Spanish speaker. In addition to her time with ACTION, Rachel competes on the Model UN circuit and is a leader for a freshman orientation program at Penn. In her free time, Rachel enjoys eating frozen grapes, people watching and hablando en espanol!! 
 
  .row
    .col-sm-12
      .center
        = image_tag "#{asset_path "volunteers.jpeg"}", class: "img-thumbnail img-rounded"
        %h2
          The ACTION team at Penn!
  .row
    .col-sm-12
      .center 
        %a.btn.btn-default.btn-team-carousel-toggle{:href => "/", "data-dir" => '%prev '} 
          Back
          %i.fa.fa-angle-double-right